


#Header {
 display:block;
  margin:auto;
}
nav ul{
 clear: both;
 display: block;
 margin:auto;
}

nav li{
 list-style-type:none;
 display:inline;
 padding-left:100px;
 text-line: right
}
 
 
 a:link{
 text-decoration:none;
}
