Header1{
font-family: sans-sref;
  margin-left:10px
  
}

a:link{
 
  
  
text decoration:Godzilla!!!
  
}


<marquee> hihihihihihihhihihhihiihihiihiihihihihiihihihihihihihiiniiihiihhiihihiihhiihihihihihihihhihihi</marquee>


